<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings file="private.config">
    <add key="azure.speech.endpoint" value="https://southcentralus.api.cognitive.microsoft.com/sts/v1.0/issuetoken"/>
  </appSettings>
</configuration>